<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="footer.component.css" rel="stylesheet">
    <title>Document</title>

  </head>
  <body>
    
  <footer>
    <div class="logotipo">
      <img src="/assets/imagem/logo.svg">
    </div>

    <section class="infos-sobrenos">

      <div>
        <h3>Sobre Nós</h3>

       <div>
        <a href="#">Acessibilidade</a>
        <a href="#">Política de privacidade</a>
       </div>
         
    
      </div>
     
    </section>

    <section class="infos-contato">

      <h3>Entre em contato</h3>

      <p>
        <strong>Telefone:</strong>
        (11) 9 994567-3234


        <strong>E-mail:</strong>
        suporte@gamemania.com
      </p>

      
       
      
    </section>

    <nav class="redes">
      <ul>
        <li><a href="#"><img src="/assets/bootstrap-icons-1.8.3/instagram.svg" alt="Nosso Instagram"></a></li>
        <li><a href="#"><img src="/assets/bootstrap-icons-1.8.3/facebook.svg" alt="Nosso Facebook"></a></li>

      </ul>
    </nav>

  
  </footer>

  <div class="copywrite">
    © Game Mania, 2022. Todos os direitos reservados.
  </div>
  </body>
  </html>