

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/src/app/clientes/formulario/formulario.component.css" rel="stylesheet">
    <title>Login  |  Game Mania</title>
</head>

<body>
   
    

        <a class="links" id="paracadastro"></a>
        <a class="links" id="paralogin"></a>
        
        <div class="content">    

          <!--FORMULÁRIO DE LOGIN-->
          <div id="login">

            <form [formGroup] = "formCliente" (ngSubmit)= "onSubmit()" method="post" action="" > 
              <h1>Login</h1> 
              <p class="form-group"> 
                <label for="email_login">Seu e-mail</label>
                <input id="email_login" name="email_login" required="required" type="text" placeholder="contato@GameMania.com"/>
              </p>
              
              <p class="form-group"> 
                <label for="senha_login">Sua senha</label>
                <input id="senha_login" name="senha_login" required="required" type="password" placeholder="123456" /> 
              </p>
              
              <p> 
                <input type="checkbox" name="manterlogado" id="manterlogado" value="" /> 
                <label for="manterlogado">Manter-me logado</label>
              </p>
              
              <p> 
                <input type="submit" value="Logar"/> 
              </p>
              
              <p class="link">
                Ainda não tem conta?
                <a href="#paracadastro">Cadastre-se</a>
              </p>
            </form>
          </div>
    
          <!--FORMULÁRIO DE CADASTRO-->
          <div id= "cadastro">
            
            <form  [formGroup] = "formCliente" (ngSubmit) = "onSubmit()" method="post" action="" > 
              <h1>Cadastro</h1> 
              
              <p class= "form-group"> 
                <label for="nome_cad">Seu nome</label>
                <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="GameMania" formControlName="nome_cad"/>
              </p>
              
              <p class= "form-group"> 
                <label for="email_cad">Seu e-mail</label>
                <input id="email_cad" name="email_cad" required="required" type="email" placeholder="contato@GameMania.com" formControlName="email_cad"/> 
              </p>
              
              <p class= "form-group"> 
                <label for="senha_cad">Sua senha</label>
                <input id="senha_cad" name="senha_cad" required="required" [value]="1" type="password" placeholder="123456" formControlName="senha_cad" />
              </p>
              
              <p> 
                <input type="submit" value="Salvar"> 
              </p>
              
              <p class="link">  
                Já tem conta?
                <a href="#paralogin"> Login </a>
              </p>
            </form>
          </div>
        </div>
</body>

</html>

