<!DOCTYPE html>
<html lang="pt-bt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">



    <link href="index.component.css" rel="stylesheet">


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>Home | Game Mania</title>
</head>

<body>

    <header>

        <section class="topo">
            <img src="/assets/imagem/logo.svg">
        </section>


        <nav class="menu">

            <ul class="active">
                <li class="current-item"><a href="#">Home</a></li>
                <li><a href="html/Feedbacks.html" data-scroll>Feedbacks</a></li>
                <li><a href="html/jogos.html" data-scroll> Jogos</a></li>
                <li><a href="html/pc e notebooks.html" data-scroll>PC's e Notebooks</a></li>
            </ul>

            <section class="search">
                <a class="toggle-nav" href="#">&#9776;</a>

                <form class="search-form">
                    <input type="text">
                    <button> Buscar </button>
                </form>

            </section>
        </nav>

    </header>

    <section class="inicial-banner">

        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">

            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="/assets/imagem/subnautica.svg" class="d-block w-100" alt="jogo-subnáutica">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>JOGO EM PROMOÇÃO</h5>
                    </div>
                </div>

                <div class="carousel-item" data-bs-interval="10000">
                    <a href="login.component.html"><img src="/assets/imagem/desconto.svg" class="d-block w-100"
                            alt="desconto-novos-assinantes"></a>
                </div>

                <div class="carousel-item" data-bs-interval="2000">
                    <img src="/assets/imagem/astrobot.svg" class="d-block w-100" alt="astro-bot">
                    <div class="carousel-caption d-none d-md-block white">
                        <h5>JOGO EM PROMOÇÃO</h5>
                        <p>15% de desconto</p>
                    </div>
                </div>

            </div>

        </div>


    </section>


    <section class="produtos">
        <h1>Produtos</h1>

        <div class="linha">

            <div class="coluna-20">

                <a href="#">
                    <div class="card">
                        <img src="/assets/imagem/hollownight.jpg" class="card-img-top" alt="hollow-night">

                        <div class="card-body">
                            <h5 class="card-title">Jogo Hollow Knight - Nintendo Switch</h5>
                            <p class="card-text">R$281,80</p>

                        </div>

                    </div>
                </a>



            </div>

            <div class="coluna-20">

                <a href="#">
                    <div class="card">
                        <img src="/assets/imagem/nintendo-swicth-azul-neon.jpg" class="card-img-top"
                            alt="nintendo-swicth-azul-neon">
                        <div class="card-body">
                            <h5 class="card-title">Console Nintendo Switch - Azul Neon e Vermelho Neon</h5>
                            <p class="card-text">R$2.420,00</p>

                        </div>
                    </div>
                </a>

            </div>

            <div class="coluna-20">

                <a href="#">
                    <div class="card">

                        <img src="/assets/imagem/zelda-switch.jpg" class="card-img-top" alt="zelda-switch">

                        <div class="card-body">
                            <h5 class="card-title">The Legend Of Zelda: Breath Of The Wild - Switch</h5>
                            <p class="card-text">R$346,99</p>
                        </div>

                    </div>
                </a>

            </div>

            <div class="coluna-20">

                <a href="#">
                    <div class="card">
                        <img src="/assets/imagem/kirby.jpg" class="card-img-top" alt="kirby">
                        <div class="card-body">
                            <h5 class="card-title">Kirby And The Forgotten Land - Nintendo Switch</h5>
                            <p class="card-text">R$346,89</p>

                        </div>

                    </div>
                </a>
            </div>



        </div>

        <div class="linha2">

            <div class="coluna-20">

                <a href="#">
                    <div class="card">

                        <img src="/assets/imagem/pc-cpu.jpg" class="card-img-top" alt="pc-cpu">

                        <div class="card-body">
                            <h5 class="card-title">Pc Cpu Intel Core I5 3º 3,2ghz+8gbram+ssd 240gb</h5>
                            <p class="card-text">R$1.297,99</p>
                        </div>

                    </div>
                </a>



            </div>

            <div class="coluna-20">

                <a href="#">
                    <div class="card">
                        <img src="/assets/imagem/nao-testamos-este-troço.jpg" class="card-img-top"
                            alt="nao-testamos-este-troço">
                        <div class="card-body">
                            <h5 class="card-title">Nós Não Testamos Este Troço - Pocket Game</h5>
                            <p class="card-text">R$89,90</p>

                        </div>
                    </div>
                </a>

            </div>

            <div class="coluna-20">

                <a href="#">
                    <div class="card">

                        <img src="/assets/imagem/processador-amd-ryzen.jpg" class="card-img-top" alt="processador-amd-ryzen">

                        <div class="card-body">
                            <h5 class="card-title">Processador AMD Ryzen 5 5600G, 3.9GHz</h5>
                            <p class="card-text">R$1.339,00</p>
                        </div>

                    </div>
                </a>

            </div>

            <div class="coluna-20">

                <a href="#">
                    <div class="card">
                        <img src="/assets/imagem/ps5 + Horizon.jpg" class="card-img-top" alt="PlayStation®5">
                        <div class="card-body">
                            <h5 class="card-title">PlayStation®5 Edição Digital + Horizon Forbidden West</h5>
                            <p class="card-text">R$346,89</p>

                        </div>

                    </div>
                </a>
            </div>
    </section>



    <main>

        <img class="pc" src="/assets/imagem/compra pc.svg" href="login.html">

        <div class="sessao1">

            <div class="sub1">
                <img src="/assets/imagem/frete.webp">
                <div>
                    <h2>Frete Gratís</h2>
                    <h3>Todos os pedidos acima de R$120,00</h3>
                </div>

            </div>

            <div class="sub1">
                <img src="/assets/imagem/money.png">
                <div>
                    <h2>Seu dinheiro de volta</h2>
                    <h3> Garantia de devolução de 7 dias</h3>
                </div>

            </div>

            <div class="sub1">
                <img src="/assets/imagem/wallet-filled-money-tool.png">

                <div>
                    <h2>Politica de Retorno</h2>
                    <h3>Suporte com chatbot e humano em até 3 dias</h3>
                </div>
            </div>

        </div>


        <section class="banner">

            <a href="#"><img src="/assets/imagem/banner1.svg"></a>
            <a href="#"><img src="/assets/imagem/image 4.svg"></a>


        </section>

    </main>


    <script src="index.component.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>


</body>

</html>